#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

.bg {
    top: 9rem;
    right: 5rem;
    height: 70vh; 
    z-index: -1;
    position: absolute;
    object-fit: cover;
  }

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.7rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}

.btn {
    display: flex;
    align-items: center;
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.15rem;
    height: 1.4rem;
}

@media screen and (max-width: 768px) {
    .bg {
        top: 8rem; 
        right: 3rem; 
    }
}

@media screen and (max-width: 480px) {
    .bg {
        top: 20rem; 
        right: -20vw;
    }
}